.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.color-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    label {
        color: rgba(0, 0, 0, 0.54)
    }
    input {
        width: 50%;
        border: unset !important;
        color: unset !important;
        background: unset !important;
        cursor: pointer;
    }
}